<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.seanc.nfcwriterpal">

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityHandlers.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHandlers.ReadActivity"
            android:label="@string/title_activity_read"
            android:parentActivityName=".ActivityHandlers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.seanc.nfcwriterpal.ActivityHandlers.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityHandlers.RecordSelection"
            android:label="@string/title_activity_record_selection"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityHandlers.WriteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.seanc.nfcwriterpal.ActivityHandlers.WriteActivity" />
        </activity>
        <activity
            android:name=".ActivityHandlers.WriteActivity"
            android:label="@string/title_activity_write"
            android:parentActivityName=".ActivityHandlers.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.seanc.nfcwriterpal.ActivityHandlers.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityHandlers.HMSManagerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="application/com.apps.seanc.nfcwriterpal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHandlers.FormatActivity"
            android:label="@string/title_activity_format"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityHandlers.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.seanc.nfcwriterpal.ActivityHandlers.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityHandlers.ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityHandlers.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.seanc.nfcwriterpal.ActivityHandlers.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityHandlers.ContactActivity"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivityHandlers.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.seanc.nfcwriterpal.ActivityHandlers.MainActivity" />
        </activity>
    </application>

</manifest>